.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  /*height: 100vh;*/
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Toggler {
  text-align: center;
}

.red {
  color: #484848;
}

.bold {
  font-weight: bold;
}

.Toggler button {
  font: inherit;
  border: 1px solid #515151;
  padding: 8px;
  cursor: pointer;
  margin-left: -1px;
}

.Toggler button:hover {
  background-color: #c0c0c0;
  /*color: #333;*/
}

.Toggler button.Red {
  background-color: #4d4d4d;
}

.Toggler button.Red:hover {
  background-color: #242424;
}
