.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  /*height: 100vh;*/
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
