.Main,
.Head,
.subHead,
.One {
  display: inline-block;
  float: left;
}

h4 {
  clear: both;
  text-align: left;
  width: 4.5em;
}

h2 {
  margin-top: -22px;
  margin-bottom: -2px;
  font-size: 1.3em;
  color: #5a5050;
  white-space: nowrap;
  overflow: hidden;
}

h3 {
  margin-top: -1px;
  margin-bottom: -19px;
  margin-left: 2px;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.subHead h2 {
  margin-top: -22px;
  /*margin-bottom: 0px;*/
}

.Main {
  border: 1px dashed #333;
}

.subHead {
  background: #ccc;
  margin: 2px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 5.2em;
}

h4 {
  font-family: Helvetica;
}

.BusRoutes h4 {
  padding-top: 3px;
  overflow: hidden;
}

.subFooter {
  margin: 5px;
}

.Even {
  display: inline;
}
